.input {
    width:85%;
    margin-left: 20px;
}

.input *:not(canvas) {
    width: 100%;
    height: 14px;
    cursor: default;
}

.pointer {
    transform: scaleX( 75% ) scaleY( 95% ) translateX(-4px);
    position: absolute;
    bottom: 20px;
}