.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

/*======================================================================================================*/

.titleBar {
    margin: 3px;
    margin-left: 2.9px;
    transform: translateY(0.5px);
    
}

.titleHead {
    position: relative;
    bottom: 3.9px;
}

.titleContainer {
    -webkit-app-region: drag;
}

.title {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content:space-between;
}

.title p {
    display: inline;
    margin: 0px;
    font-size: 20px;
    padding: 0;
    position: relative;
    bottom: 2px;
}

.titleButtons {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 4px;
    width: 70px;
    height: 20px;
}

.titleButtons * {
    transform: scale(115%);
    margin: 3px;
    border-color: black black inherit inherit;
    border-width: 1.5px 1.5px 1px 1px;
}

.title .titleButtons .titleMinimzie {
    margin-right: 3px;
}

.titleButtons *:nth-child(3) {
    margin-left: 5px;
}

/*======================================================================================================*/

.options {
    margin-top: 0;
    margin: 0 5px 0 5px;
    padding-left: 6px;
    border-bottom: solid 3px white;
    
}

.options li:nth-child(n) {
    list-style-type: none;
    display: inline;
    padding: 9px;
    font-size: 18px;
    user-select: none;
}

.progress {
    margin: 0 5px 0px 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: solid 2px rgba(135, 135, 135, 0.77);
    filter: blur(0.5px);
    border-bottom: solid 1px black;
}

.buttons {
    display: flex;
    width: 100%;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 3px;
    padding-left: 2px;
    border-top: 2px solid white;
}

.buttons div {
    display: flex;
}

.buttons .button {
    padding-left: 15px;
    height: 33px;
    border-right: 2px solid black;
    border-bottom: 2px solid;
    border-left: 1px solid white;
}

.buttons .button:active {
    padding-left: 15px;
    height: 33px;
    border-right: 2px solid black;
    border-bottom: 2px solid;
    border-left: 1px solid white;
}

.buttons :not( div:nth-child(1), button ) {
    margin-left: 12px;
}

/*======================================================================================================*/

.icon {
    border: 2px solid black;
}